body {
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

    
    /* height: 100vh; */
    

}

.middle-container {

    width:900px;
    
    /* height: 1000px; */
    min-height: 100vh;
    /* background-color: rgb(121, 17, 219); */
    border: 1px soild;
    /* position: relative; */
    /* margin-top: -30px; */
    

}
.user-logoutarea{
  display: flex;
  width:900px;
  
  justify-content: flex-end;

  gap: 12px;
}
.dynamic-username{
 
  font-family: Arial, Helvetica, sans-serif;
  
  
}

.logout-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 86%;
  
  
  
  
  
  
  /* margin-left: auto; */
  /* gap: 8px; */
  

  
  

}
.logout{
  
  /* margin-top: 5px; */
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 8px;
  background-color: rgba(241, 238, 238, 0.712);
  border-radius: 8px;
  
 
  

}

.header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    width:auto;
    height: 80px;
    background-color: rgba(245, 227, 253, 0.747);
    margin-top:0px;
    padding: 8px;
   
    
    /* background-c
    olor: aqua; */
}

.add-button {
    display: flex;
    flex-wrap: nowrap;

    width: fit-content;
    height: 45px;


}

.inside-addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    padding-left: 34px;
    padding-right: 37px;
    font-size: x-large;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(13, 10, 180);
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    font-family: Arial, Helvetica, sans-serifS;
    font-size: xx-large;
    font-weight:700;

}

.completed-button {
    display: flex;
    justify-content: flex-end;
    /* flex-flow: row wrap; */
    align-items: center;
    width: fit-content;
    
    height: 60px;
}

.inside-completed-btn {  
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: flex-end;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    padding: 8px 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    
    font-size: x-large; 
    /* padding-top: 8px;
    padding-bottom: 8px; */
    background-color: #0bfc33;
    border: none;
    border-radius: 8px;
    cursor: pointer;



}

.display {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 40px;
  
    /* background-color: blue; */
   
} 

.text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* position: absolute; */
   
    margin-bottom: 30px;
    
    padding-top: 12px;
    position: relative;
    /* margin-left:220px; */
    /* margin-right:40%; */
    /* margin-right: auto;
    margin-left: auto; */
    
   
    /* align-items: center; */
    width:500px;
    height: 340px;;
    /* object-fit: contain;
     */
   
    
    box-sizing: border-box;
    border-radius: 40px;
    background-color: rgba(133, 128, 128, 0.103);
    /* background-color: rgb(223, 134, 17);
     */
    
}
.text{
    display: flex;
   
    justify-content: center; 
    margin: 0 auto;
    /* margin-top: -30px; */
    text-indent:8px;
    /* align-items: center; */
    /* margin-bottom: 85px; */
    /* padding-left: 250px;
    padding-right: 250px; */
    width :90%;
    height:180px;
    
    border-radius: 25px;
    outline: none;
    border: 1px solid rgb(214, 211, 211);
    
    margin-bottom: 15px;
}


.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 2.9em;
    color: #f30707;
    font-size: xx-large;
    font-weight:700;
    

}
/* .button-area{
    display: flex;
    background-color: aqua;
    margin-top: 15px;
    height: 60px;
    padding: 0 10px;
    background-color: rgba(14, 6, 6, 0);
    border: none;
    margin-bottom: 20px;

} */
.priorityandadd-btn-area{
    display: flex;
    width:100%;
    height: 15%;
    /* background-color: #f30707; */
    justify-content: center;
    margin: 0 auto;
    
    
   
    /* background-color: black; */
    /* background-color: rgba(133, 128, 128, 0.103); */
    /* background-color: rgba(153, 87, 87, 0); */

}
.priority-btn{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-right:25px;
    /* background-color: green; */
   
   
}
.custom-selector{
    width: fit-content;
    margin-left: 12px;
    padding-left: 25px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:15px;
    align-items: center;
    outline: none;
    background-color: rgba(133, 128, 128, 0.103);
    
}
.user-btn{
  display: flex;
    justify-content: center;
    width: fit-content;
    margin-right: 8px;

}
.user-selector{
  width: fit-content;
    margin-left: 12px;
    padding-left: 25px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:15px;
    align-items: center;
    outline: none;
    background-color: rgba(133, 128, 128, 0.103);
    

}
.high-priority {
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}





.add-btn-area{
    display: flex;
    justify-content:center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    /* background-color: blue; */
    
   
    /* justify-content: center;
     background-color: violet;
    background-color: rgba(133, 128, 128, 0.103);
    border: none;
    border-radius: 30px; */
} 



.add-task-btn{
  
    
    width:fit-content;
    border-radius: 20px;
    border: none;
    background-color: rgba(6, 67, 179, 0.842);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding: 5px 15px;
    color: white; 
    cursor: pointer;
    margin-right: 35px;
    


} 
.filter_area{
  display: flex;
  justify-content: end;
  margin-top: 30px;
  gap: 10px;
}
.label_name{
  font-size: 15px;
  font-weight: 700;
  margin-top: 2px;
}
.user_name{
  outline: none;
  background-color: rgba(133, 128, 128, 0.103);
  border-radius: 8px;
}
.filter-btn{
  padding: 2px 2px;
  border: none;
}



.content{
    display: flex;
    /* justify-content: center; */
    height:fit-content;
    width:100%;
    /* background-color: #000; */
    margin-top: 25px;
    flex-direction: column;
    
  } 
  
  .task-recordarea{
    display:flex;
    flex-direction: row;
     /* flex-grow: 1; */
     
    /* background-color: #0feb3f; */
    /* border: 2px solid yellowgreen; */
    border-radius: 20px;
    height:fit-content;
    /* background-color: rgba(250, 244, 244, 0.356); */
    background-color: rgba(133, 128, 128, 0.103);
    margin-bottom: 10px;
    }
 
  .left-dashboard{
    /* display: flex; 
    justify-content: center; */
    width:65%;
    
    /* background-color: #9fa5b5; */
    display:inline-block;
    
    margin-right: 18px;
    margin-top: 15px;
    margin-left: 18px;
    margin-bottom: 8px;
   }
  .dashboard{
    display: flex;
    height: 80px;
    background-color:white;
    width: 100%;
    
    /* text-indent:5px; */
    padding-left: 10px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    border-radius: 12px;
    /* background-color: aqua; */
  }
  .priority-area{
    display: flex;
    flex-direction: row;
  
  }
  
  .priority-level{
    width:50%;
    /* margin-top: 8px; */
    /* margin-left: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight:500;
    justify-content: flex-start;
    margin-top:10px;
    margin-left:10px;
    
  }
  .userselectnamearea{
    width: 50%;
    justify-content: flex-end;
    padding-left: 10px;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight:500;
    padding-right:4px;
    margin-top:10px;
    
    

  }
  .right-dashboard{
    display: flex;
    /* position:relative; */
    
    


    width:30%;
    height:100px;
    
    /* flex-flow: column; */
    
    /* background-color: #444242; */
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 10px;
    
  }
  .edit-btn{
    height:fit-content;
    margin-top: 15px;
    width:fit-content;
    
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:20px;
    background-color: rgb(8, 72, 167);
    border: none;
    color: white;
    cursor: pointer;
    border: 2px soild rgb(134, 134, 156);

  }
  .edit-fading{
    background-color: rgb(148, 148, 247);
    cursor: not-allowed;
  }
  .done-btn{
    height:fit-content;
    margin-top: 15px;
    padding: 10px 17px;
    position: relative;
    
    width:fit-content;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:20px;
    background-color: rgb(5, 99, 9);
    border: none;
    color: white;
    cursor: pointer;
    border: 2px soild rgb(9, 155, 9);
    
  }
  .done-btn:disabled{
    /* Define the styles for the disabled state of the button */
    opacity: 0.5; /* Example: reduce opacity to indicate disabled state */
    cursor: not-allowed; /* Example: change cursor to indicate unclickable */
    /* You can add more styles as needed, such as changing background color or text color */
}
.done-fading{
  background-color: #acf5af;

}
  .delete-btn{
    height:fit-content;
    margin-top: 15px;
    padding: 10px 12px;
    position: relative;
   
    width:fit-content;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:20px;
    background-color: rgb(241, 7, 7);
    border: none;
    color: white;
    cursor: pointer;
    border: 2px soild rgb(148, 7, 7);
    
  }
  .delete-fading{
    background-color: #f1a1a1;
  }
  
  .delete_cont{
    width:40%;
    position: absolute;
    margin-left: 70px;
    margin-bottom:180px;
    /* top:90px; */
    /* bottom:0;
    left:600px;
    right: 0; */
    height:150px;
    /* margin-top:-70%;
    margin-left: -100%; */
    background-color: white;
    display:none;
    
  }
  .done_cont{
    width:40%;
    position: absolute;
    height:150px;
    margin-left: 70px;
    margin-bottom:180px;
    /* bottom:0;
    left:600px;
    right: 0;  */
    /* margin-top:-70%;
    margin-left: -100%; */
    background-color: white;
    display:none;
    

  }
  .close{
    
    margin-left: 90%;
    padding: 8px;
    color: red;
    font-size:30px;
    font-weight: 700;
    cursor: pointer;
    
    margin-top: 30px;
    

  }
  
  .delete_txt{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .done_txt{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .delete_txt p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    
    
  }
  .done_txt p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
  }

.delete_actions{
    margin-top: 20px;
    display: flex;
    justify-content:center;
}
.done_actions{
  margin-top: 20px;
    display: flex;
    justify-content:center;

}
.cancel{
    margin-right:8px;
    width: 40%;
    height: 30px;
    background-color:rgb(61, 61, 230);
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}
.delete{
    margin-left:8px;
    width: 40%;
    height: 30px;
    background-color:rgb(240, 61, 61);
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;

}
.done{
  margin-left:8px;
  width: 40%;
  height: 30px;
  background-color:rgb(14, 240, 116);
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;

}
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100px;
  

  flex-direction: row;


  gap: 10px;
  /* margin-top:-25px; */
  padding: 10px;
  margin-bottom: 30px;
  /* background-color: rgba(94, 90, 90, 0.8); */

  background-color: rgba(133, 128, 128, 0.103);
  border-radius: 10px;

  /* min-width: fit-content; */


}



.lefteditarea {
  display: flex;
  width: 70%;
  height: 90px;


}

.edit-textarea {
  width: 100%;
  outline: none;
  text-indent: 8px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.edit-priority {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 21%;

  height: 90px;
  gap: 8px;
  margin-right: 8px;

}

.edit-priorityLevel {
  width:fit-content;
  height: 40px;
  /* padding-left: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size: 15px;
  color: black;
  outline: none;
  background-color: rgba(133, 128, 128, 0.103);
}
.edit-user-selector{
  width:fit-content;
  padding-right: 80px;
  height: 40px;
  /* padding-left: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size: 15px;
  color: black;
  outline: none;
  background-color: rgba(133, 128, 128, 0.103);

}

.high-priority {
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

.edit-submit {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  width: 9%;

  height: 90px;


}

.submit-edit-btn {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  background-color: #055c08;
  border: none;
  color: white;
  cursor: pointer;
}
.edit-cancel{
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  background-color: #f70e0e;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 12px;
}
  /* @media only screen and (max-width: 768px) {
    .text-box {
        width: 90%;
        max-width: 90%;
    }

    .priority-btn-area,
    .add-btn-area {
        width: 100%;
        max-width: 100%;
    }
} */
 

/* new csss */
@media only screen and (max-width: 900px) and (min-width: 501px) {
  .container {
    padding: 0 0px;
    width: 100%;
}
.user-logoutarea{
     width:100%;
  }
.dynamic-username{
 font-size:15px;
}
/* .logout-btn{
  
  margin-right: 70px;


} */
  .logout{
  
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    /* padding: 6px 9px; */
   
  }

  .header {
     min-width:fit-content;
      height: auto;
      justify-content: space-around;
      margin-top: 0px;
     
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 24px;
      font-weight: 800;
  }

  .middle-container {
      width: 100%;
      margin-top: 0;
  }
  
  .inside-addbtn
  
   {
      padding:20px 8px;
      font-size: 18px;
      font-weight:700;
      
      
  }
  .inside-completed-btn{
    font-size:18px;
    font-weight:700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;

  }
  .display{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height:fit-content;
    margin-top: 5px;
    margin-bottom: 20px;

  }

  .text-box {
      /* width: 100%;
      max-width: 100%; */
      margin-bottom: 10px;
    
      /* padding-top:40px; */
      position: relative;
      width:100%;
      height:400px ;
      /* margin-bottom: 20px; */
  }
  .text-box {
    width: 100%; 
   /* max-width: 100%;  */
   /* margin-bottom:8px; */
   
 
   
   position: relative;
   /* width:100%; */
   height:370px;
   
}
  .text{
    /* margin-top: 0px;
    margin: 0 auto; */
    margin-top: 5px;
    margin-bottom: 10px;
    width: 90%;
    font-size:15px;
    
  }
  .priorityandadd-btn-area{
    width:80%;
    height: 25%;
    flex-direction:column;
    
   
    
    /* background-color: #f30707; */
    justify-content: center; 
    align-items: center;
    /* margin: 0 auto; */

}
  .priority-btn{
  
    
    width:auto;
    height: 30px;
    
    margin-bottom: 5px;
   
    margin-right:0px;
}
.custom-selector{

  
  width: fit-content;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height:30px;
  margin-left: 14px;
  
  
  font-size: 15px;
  font-weight: 400;
  /* margin-right:25px; */
}
.user-btn {
  
  width: fit-content;
  height: 30px;
  margin: auto;
  
  
  
  /* margin-right:25px; */
    
}
.add-btn-area{
    
   display: flex; 
   justify-content: center;
  margin-top:10px;
  width:100%;
}

.add-task-btn{
  font-size: 14px;
  padding: 8px 8px;
  margin-right: 0px;
}
.add-button .inside-addbtn img {
  width: 16px;  /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

  

  /* .priorityandadd-btn-area,
  .add-btn-area {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .priority-btn,
  .user-btn {
      margin-right: 0;
  } */
/* 
  .priority-btn,
  .user-btn,
  .custom-selector,
  .user-selector {
      width: 100%;
      margin: 0;
  }

  .priority-btn,
  .user-btn,
  .inside-addbtn,
  .inside-completed-btn,
  .add-task-btn {
      padding: 8px;
      font-size: medium;
  } */

  .task-recordarea {
      flex-direction: column;
      /* margin-bottom: 8px; */
  }

  .left-dashboard {
      min-width: 100%;
      margin: 0;
  }
  .dashboard{
    width:95%; 
    margin: auto;
    margin-top: 8px;
    min-height: 80px;
    
    /* justify-content: center;
    align-items: center; */
    /* width: 95%; */
    height: fit-content;
    
  }
  .priority-area{
    display: flex;
    flex-direction: row;
  
  }
 
  .priority-level{
    display: inline-flex;
    padding-left: 10px;
    font-size: 14px;
    
   
   
  }
  .userselectnamearea{
    display: flex;
    
    font-size: 14px;
    font-weight: 500;
   
    margin-top: 10px;
    padding-left: 0px;
    margin-right: 0px;

  }
  

  .right-dashboard {
      flex-direction:row;
      /* gap: 5px; */
      width: 100%;
      justify-content:flex-end;
      gap: 12px;
      margin-top: 10px;
      height: fit-content;
      margin-bottom: 10px;
      
      
  }
  .delete-btn{
    margin-right: 12px;
  }
  .done_cont{
    /* width:fit-content; */
    min-width: 60%;
    height:150px;
    margin-left: 0px;
    margin-bottom:180px;
    /* margin-top:-10%;
    margin-left: -16%; */
    
    
    

  }
  .delete_cont{
    /* width: fit-content; */
 
    min-width: 60%;

    height:150px;
    margin-left: 0px;
    margin-bottom:180px;
    
    /* margin-top:-10%;
    margin-left: -16%; */
    
  }
  .edit-container {
    
    flex-direction: column;
    justify-content:center; /* Center align the elements */
    /* gap: 10px; */
    
    padding: 10px;
    height:fit-content; /* Ensure full width */
}
.edit-priority{
flex-direction: row;
gap: 30px;
height: auto;
}
.edit-submit {
  display:flex;
  justify-content:center;
  /* align-items: center; */
  flex-direction:row;
  width:20%;
  gap: 150px;
  

  height:fit-content;


}
.edit-cancel{
  margin-top: 0px;
}

.lefteditarea {
  
    
    width: 100%;
}
.filter_area{
  margin-top: 12px;
}

.filter_area select option {
    max-width: 80%;
    height: 100px;
   
    
}

.label_name{
  font-size: 14px;
  font-weight: 700;

}
.user_name{
  font-size: 12px;
  font-weight: 500;
  
  


}
.filter-btn{
  padding: 0px 0px;
  border: none;
}


/* 
  .filter_area select option {
      max-width: 80%;
      height: 100px;
  } */
}


@media only screen and (max-width: 500px) {
  .container {
      padding: 0 0px;
      width: 100%;

  }
  .user-logoutarea{
    
    width:100%;
    

  
  
  }
  .dynamic-username{
    font-size:12px;
   }
  .logout{
  
    
    font-size: 12px;
    font-weight: 500;
    padding: 4px 7px;
   
  }

  .header {
      min-width:auto;
      height:auto;
      justify-content: space-around;
      margin-top: 0px;
     
     
  }

  .title {
      padding-left: 8px;
      padding-right: 8px;
      min-width: fit-content;
    
      font-size: 14px;
      font-weight: 800;
  }

  .middle-container {
      width: 100%;
      margin-top: 0;
  }
  .display{
    width: 96%;
     /* display: flex;
    justify-content: center;  */
    margin: auto;
   
    margin-top: 10px;
    height:auto;
    
    margin-bottom:0px;
    

  }
  /* #taskForm{
    margin-top: 0px;
    height:150px;
  } */

  
  .text-box {
     width: 100%; 
    /* max-width: 100%;  */
    /* margin-bottom:8px; */
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    height:fit-content;
    margin-bottom: 0px;
   
  
    
    
}
#taskForm{
  margin: 0px;
  width: 100%;

} 
.text{
  /* margin-top: 10px; */
  /* margin: 0 auto; */
  /* margin-bottom: 15px; */
  
  width:90%;
  display: flex; 
  justify-content: center; 
  /* margin-top: 8px; */
  /* margin-bottom: 20px; */
  /* margin-top: 15px; */
  /* margin-bottom: 8px; */
  margin-top: 4px;
  
  height: 120px;
  text-indent: 8px;
}
.close-btn{
top:2px;
right:16px;

font-size:21px;

/* width:8px;
height: 8px; */
}

.priorityandadd-btn-area{
    width:80%;
    height: 25%;
    flex-direction: column;
   
    
    /* background-color: #f30707; */
    justify-content: center; 
    align-items: center;
    margin-top: 8px;
    /* margin: 0 auto; */

}

  .content{
    
    /* justify-content: center; */
    margin: auto;
    height:fit-content;
    width:100%;
    min-width: fit-content;

    /* background-color: #000; */
   
    
  } 
  .priority-btn{
  
    
    width:auto;
    height:25px;
    
    margin-bottom: 10px;
   
    margin-right:0px;
}
.custom-selector{

   
  width: fit-content;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  /* margin-right:25px; */
}




  /* .priorityandadd-btn-area,
  .add-btn-area {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  } */

  
  .user-btn {
    width: fit-content;
    justify-content: center;
    height: 25px;
    margin-right: 15px;
    /* font-size: 12px;
    font-weight: 400; */
    
    /* margin: auto; */
    /* margin-right:25px; */
      
  }

  /* .priority-btn,
  .user-btn {
      width:fit-content;
      margin: auto;
  } */
  .add-btn-area{
    
    
    margin-top:5px;
    
   
    width:100%;
    margin-bottom:0px;
  }
  .add-task-btn{
  margin-bottom:10px;
  }
  
  
  .inside-addbtn,
  
  .add-task-btn {
      
     min-width: 96%;
      padding:8px;
      font-size: 11px;
      font-weight:400;
      margin-right: 0px;
  }
  


  .add-button{
    width: 30%;
  }
  .title{
    width: 40%;
  }
  .completed-button{
    width: 30%;
  }
  .add-button .inside-addbtn img {
    width: 10px;  /* Adjust the width as needed */
    height: auto;
    display: none;
     /* Maintain aspect ratio */
}
  

  .inside-completed-btn{
    display: flex;
    justify-content: center;
    min-width: 96%;
    font-size: 11px;
    font-weight:400;
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 8px;
    
   
    height: 40px;

  }
   

  .task-recordarea {
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 2px;
  }

  .left-dashboard {
      min-width: 100%;
      margin: 0;
  }
  .userselectnamearea{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left:0px;
    padding-right:0px;
    margin-left: 16px;
    min-width: fit-content;
   
   
  }
  .priority-area{
    flex-direction: column;
    padding-left: 0px;
    
  }
  .user-selector{
   font-size: 12px;
   font-weight: 400;
   border-radius: 4px;
   }
   .userselect{
    font-size: 12px;
    font-weight: 400;
   }
  .priority-level{
    min-width: fit-content;
    font-size: 12px;
    padding-left:8px;
  }

  /* .priority-level{
    display: flex;
    flex-direction: column;
  } */
  

  .right-dashboard {
      flex-direction:row;
      
      justify-content: space-evenly;
      min-width: 100%;
      margin-top: 10px;
      height: fit-content;
      margin-bottom: 10px;
  }
  .done_cont{
    width: 100%;
    height:150px;
    margin-bottom: 180px;
    margin-left: 0px;
    /* margin-top:-30%;
    margin-left: -0%; */
    
    
    

  }
  .delete_cont{
    width: 100%;
    height:150px;
    margin-bottom: 80px;
    margin-left: 0px;
  
    /* margin-top:-30%;
    margin-left: -0%; */
    
  }
  .delete_actions{
    margin-top:5px;
   
    
}

.delete-btn, .done-btn ,.edit-btn{
  
font-size: 15px;
}


.edit-container {
      flex-direction:column;
      gap: 10px;
      justify-content: center;
      
      /* margin-top: 0; */
      
      padding: 10px;
      height:fit-content;
      
  }
  .lefteditarea {
    
    width: 100%;
    
  
  
  }
  .dashboard{
    margin: auto;
    margin-top: 8px;
    
    /* justify-content: center;
    align-items: center; */
    width: 90%;
    min-height: 60px;
    height: fit-content;
    
  }
  
 .edit-submit{
  flex-direction: row;
  gap:30px;
 }

  
  .edit-priority,
  
  .edit-submit {
      justify-content: center;
      width: fit-content;
      height: auto;
     
      
  } 
  .edit-cancel{
    margin-top: 0px;
  }
  .filter_area{
    margin-top:12px;
  }

  .filter_area select option {
      max-width: 80%;
      height: 100px;
      
  }
  .label_name{
    font-size: 14px;
    font-weight: 700;

  }
  .user_name{
    font-size: 12px;
    font-weight: 500;


  }
  .filter-btn{
    padding: 0px 0px;
    border: none;
  }
}